html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Brother1816', sans-serif;
    line-height: 1.5;
    background-color: var(--color0);
    color: var(--color3);
}

h1, h2, h3 {
    font-family: "Galada";
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color2);
}

.button {
    background: var(--color2);
    color: var(--color1);
    font-size: 1.2rem;
    padding: 0.4rem 2.6rem;
    border-radius: 30px;
    display: inline-block;
}

.nav-button {
    background: var(--color2);
    color: var(--color1);
    font-size: 1rem;
    padding: 0.4rem 1.6rem;
    border-radius: 20px;
    display: inline-block;
}

.trans-button {
    border: 2px solid var(--color2);
    color: var(--color2);
    font-size: 1.2rem;
    padding: 0.4rem 2.6rem;
    border-radius: 30px;
    display: inline-block;
}

header, footer {
    color: var(--color2);
}

header, .sec-2, .sec-4, footer {
    background-color: var(--color1);
}

/* hamburger */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

header img {
    height: 4rem;
}

header nav {
    height: 50px;
}

/**/

section {
    padding: 2rem 1rem;
}

/* hero */
h1 {
    font-size: 2.8rem;
    margin: 1rem 0;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero p {
    font-size: 1.18rem;
    margin-bottom: 1.5rem;
}

.hero-nuggets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.hero-nuggets img {
    width: 100%;
    opacity: 1;
}

.hero h1 {
    margin-top: 4rem;
}

.hero h1, .hero p, .hero a {
    position: relative;
    z-index: 1;
}


/* sec2 */
h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.sec-2 div, .sec-2 div a {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.8rem;
}

.sec-2 p {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* sec3 */

.event-containers {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.event-containers div {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 24px;
}

.event-containers div div {
    padding: 1.2rem;
    padding-bottom: 5rem;
}

.event-containers div div p {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.sec-3 .button {
    margin-top: 1.5rem;
}

/* sec4 */

.sec-4 > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

/* sec5 */

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: 2px solid var(--color2);
    border-radius: 30px;
}

form label {
    padding-left: 1rem;
}

form input {
    margin: 1rem;
    padding: 0.6rem;
    border: 1px solid var(--color2);
    border-radius: 8px;
    background-color: var(--color1);
}

form input[type="submit"] {
    margin-top: 1rem;
    background: var(--color2);
    color: var(--color1);
    border: none;
    border-radius: 20px;
    font-family: 'Brother1816', sans-serif;
}

/* footer */

footer {
    text-align: center;
    padding: 2rem 1rem;
}

footer img {
    max-width: 160px;
    margin-bottom: 2rem;
}



.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

footer address {
    font-style: normal;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

footer nav {
    display: flex;
    
    gap: 0.5rem;
    margin-bottom: 1rem;
}

footer nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

footer nav a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color2);
}

.copyright {
    font-size: 0.8rem;
}

@media (min-width: 600px) {
    .hamburger-menu {
        display: flex;
        gap: 1rem;
        align-items: center;
    }  

    .hamburger-menu a {
        font-size: 1rem;
    }
    
    footer nav {
        flex-direction: row;
        justify-content: center;
    }

    footer nav div {
        flex-direction: row;
    }
}