html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Brother1816', sans-serif;
    line-height: 1.5;
    background-color: var(--color0);
    color: var(--color3);
}

h1, h2, h3 {
    font-family: "Galada";
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color2);
}

.nav-button {
    background: var(--color2);
    color: var(--color1);
    font-size: 1rem;
    padding: 0.4rem 1.6rem;
    border-radius: 20px;
    display: inline-block;
}

header, footer {
    color: var(--color2);
}

header, .sec-2, .sec-4, footer {
    background-color: var(--color1);
}

/* hamburger */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

header img {
    height: 4rem;
}

header nav {
    height: 50px;
}

header label img {
    height: 40px;
}

.menu-toggle {
    display: none;
}

.icon-hamburger {
    display: inline;
}
.icon-close {
    display: none;
}

.menu-toggle:checked + .hamburger-btn .icon-hamburger {
    display: none;
}
.menu-toggle:checked + .hamburger-btn .icon-close {
    display: inline;
}

.hamburger-btn {
    position: relative;
    z-index: 101;
    cursor: pointer;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 100;
}

.menu-toggle:checked ~ .hamburger-menu {
    right: 0;
}

.hamburger-menu a {
    font-size: 2rem;
}

.nav-button {
    background-color: var(--color2);
    color: var(--color1);
    padding: 0.6rem 2rem;
    border-radius: 30px;
}

section {
    padding: 2rem 1rem;
}

/* hero */
h1 {
    font-size: 3.2rem;
    margin: 1rem 0;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero p {
    font-size: 1.18rem;
    margin-bottom: 1.5rem;
}

.hero-nuggets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.hero-nuggets img {
    width: 100%;
    opacity: 1;
}

.hero h1 {
    margin-top: 4rem;
}

.hero h1, .hero p, .hero a {
    position: relative;
    z-index: 1;
}

.button {
    background: var(--color2);
    color: var(--color1);
    font-size: 1.2rem;
    padding: 0.4rem 3rem;
    border-radius: 30px;
    display: inline-block;
}

.trans-button {
    border: 2px solid var(--color2);
    color: var(--color2);
    font-size: 1.2rem;
    padding: 0.4rem 3.6rem;
    border-radius: 30px;
    display: inline-block;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.button:hover, .trans-button:hover, .nav-button:hover, form input[type="submit"]:hover {
    background: var(--color4);
    color: var(--color1);
    border-color: var(--color4);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* sec2 */
h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.sec-2 div, .sec-2 div a {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.8rem;
}

.sec-2, .sec-3 {
    text-align: center
}

.sec-2 p {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.phone-size {
    width: 280px;
}

/* sec3 */

.event-containers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.event-containers div {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 24px;
}

.event-containers div div {
    padding: 1.2rem;
    padding-bottom: 5rem;
}

.event-containers div div p {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.sec-3 .button {
    margin-top: 1.5rem;
}

/* sec4 */

.merch-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--color0);
    cursor: grab;
    -webkit-overflow-scrolling: touch;
}

.merch-slider:active {
    cursor: grabbing;
}

.merch-slider div {
    flex: 0 0 85%;
    scroll-snap-align: center;
}

.merch-slider img {
    width: 100%;
    border-radius: 20px;
}

/* sec5 */

.register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid var(--color2);
    border-radius: 30px;
    padding: 2rem 1.5rem;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-name-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-name-row input {
    width: 100%;
}

.register-form label {
    font-size: 0.9rem;
    margin-bottom: -0.5rem;
}

.register-form input {
    padding: 0.6rem;
    border: 1.5px solid var(--color2);
    border-radius: 10px;
    background-color: var(--color1);
    font-size: 1rem;
}

.register-form input[type="submit"] {
    margin-top: 1.5rem;
    background-color: var(--color2);
    color: var(--color1);
    border: none;
    border-radius: 30px;
    padding: 0.8rem;
    font-size: 1rem;
}

/* footer */

footer {
    text-align: center;
    padding: 2rem 1rem;
}

footer > img {
    margin: 0 auto 2rem auto;
}

footer img {
    max-width: 160px;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

footer address {
    font-style: normal;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

footer nav {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 1rem;
    gap: 7rem;
}

footer nav div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

footer nav div a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color2);
}

.copyright {
    font-size: 0.8rem;
    padding-top: 4rem;
    text-align: left;
}

@media (min-width: 600px) {
    .hamburger-btn,
    .menu-toggle {
        display: none;
    }

    .hamburger-menu {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        background: none;
        transition: none;
    }

    .hamburger-menu a {
        font-size: 1rem;
    }

    .hero-nuggets img {
        display: none;
    }

    .hero-nuggets {
        background-image: url("../img/Icons-snack-tablet.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        width: 95%;
        height: 200px;
        margin: 2rem;
    }

    .hero h1 {
        margin-top: 2rem;
        font-size: 3.5rem;
    }

    .hero-buttons {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    

    .sec-5 h2{
        margin-bottom: 3rem;
    }

    /* Form container */
    .register-form {
        max-width: 720px;
        margin: 0 auto;
        padding: 3.5rem 4rem;
        border: 2px solid var(--color2);
        border-radius: 30px;
        background-color: var(--color0);
        padding-bottom: 2rem;
    }

    .form-name-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .form-field {
        margin-bottom: 2.5rem;
    }

    .register-form label {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }


    footer {
        padding: 4rem 2rem;
    }

    footer img {
        margin: 0 auto 3rem auto;
    }

    .social-icons {
        justify-content: center;
        margin-bottom: 1rem;
    }

    footer address {
        text-align: center;
        margin-bottom: 2rem;
    }

    footer nav {
        display: flex;
        gap: 15rem;
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        padding-top: 2rem;
    }

    footer nav div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .copyright {
        text-align: left;
        margin-top: 2rem;
    }
}

@media (min-width: 900px) {  /* 1024px */
    header {
        padding: 1.5rem 4rem;
    }

    .hamburger-menu a {
        font-size: 1.2rem;
    }


    .hero-nuggets img {
        display: none;
    }

    .hero, .sec-2, .sec-3, .sec-4, .sec-5 {
        padding: 3rem 4rem;
    }

    .hero {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
        position: relative;
    }

    .hero-nuggets {
        grid-column: 2;
        grid-row: 1 / span 3;
        position: relative;
        z-index: 0;
        background-image: url("../img/Icons-snack-computer.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 550px;
    }

    .hero h1,
    .hero p,
    .hero-buttons {
        grid-column: 1;
        position: relative;
        z-index: 1
    }

    .hero h1 {
        margin-top: 0;
        font-size: 4rem;
    }

    .hero p {
        max-width: 600px;
    }

    .hero-buttons {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .sec-2 h2 {
        text-align: center;
        margin-bottom: 3rem;
    }

    .sec-2 > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        align-items: center;
        text-align: left;
    }

    .sec-2 > div > div {
        max-width: 520px;
    }

    .sec-2 img {
        width: 100%;
        border-radius: 20px;
    }

    .sec-2 > div:nth-of-type(2) img {
        order: -1;
    }

    .phone-size {
        max-width: 300px;
        justify-self: center;
    }

    .sec-2 .button {
        margin-top: 1.5rem;
    }

    .event-containers {
        flex-direction: row;
        gap: 2rem;
    }

    .event-containers > div {
        flex: 1;
    }

    .sec-3 div {
        text-align: left;
    }

    
    .merch-slider {
        overflow: visible;
        scroll-snap-type: none;
        cursor: default;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        background: none;
    }

    .merch-slider div {
        flex: none;
    }

    footer nav {
        gap: 20rem;
    }
}