html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Brother1816', sans-serif;
    line-height:1.5;
    background-color: var(--color0);
    color:var(--color3);
}

h1, h2, h3 {
    font-family: "Galada";
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color2);
}

header, footer {
    color: var(--color2);
}

header, .sec-2, .sec-4, footer {
    background-color: var(--color1);
}


.copyright {
font-size: 0.8rem;
}
