html {
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

h1, h2, h3 {
    font-family: "Galada";
}

main {
    color: var(--color3);
}

a {
    text-decoration: none;
    color: var(--color2);
}

header, footer {
    color: var(--color2);
}

header, .sec-2, .sec-4, footer {
    background-color: var(--color1);
}
